[submodule "editors/vim/bundle/vundle"]
	path = editors/vim/bundle/vundle
	url = https://github.com/gmarik/vundle/
[submodule "editors/vim/bundle/rainbow_parentheses.vim"]
	path = editors/vim/bundle/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim
[submodule "editors/vim/bundle/camelcasemotion"]
	path = editors/vim/bundle/camelcasemotion
	url = https://github.com/vim-scripts/camelcasemotion.git
[submodule "editors/vim/bundle/snipmate-snippets"]
	path = editors/vim/bundle/snipmate-snippets
	url = https://github.com/honza/snipmate-snippets.git
[submodule "editors/vim/bundle/SuperTab"]
	path = editors/vim/bundle/SuperTab
	url = https://github.com/vim-scripts/SuperTab.git
[submodule "editors/vim/bundle/syntastic"]
	path = editors/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "editors/vim/bundle/tagbar"]
	path = editors/vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "editors/vim/bundle/tlib_vim"]
	path = editors/vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "editors/vim/bundle/vim-addon-mw-utils"]
	path = editors/vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "editors/vim/bundle/vim-easymotion"]
	path = editors/vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "editors/vim/bundle/vim-markdown"]
	path = editors/vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown/
[submodule "editors/vim/bundle/vim-session"]
	path = editors/vim/bundle/vim-session
	url = https://github.com/xolox/vim-session.git
[submodule "editors/vim/bundle/vim-snipmate"]
	path = editors/vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "editors/vim/bundle/argtextobj.vim"]
	path = editors/vim/bundle/argtextobj.vim
	url = https://github.com/vim-scripts/argtextobj.vim.git
[submodule "editors/vim/bundle/vim-indent-guides"]
	path = editors/vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule "editors/vim/bundle/tabular"]
	path = editors/vim/bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "editors/vim/bundle/ZoomWin"]
	path = editors/vim/bundle/ZoomWin
	url = https://github.com/vim-scripts/ZoomWin
[submodule "editors/vim/bundle/supertab"]
	path = editors/vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "editors/vim/bundle/nerdcommenter"]
	path = editors/vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "editors/vim/bundle/nerdtree"]
	path = editors/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "editors/vim/bundle/vim-fugitive"]
	path = editors/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "editors/vim/bundle/vim-git"]
	path = editors/vim/bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "editors/vim/bundle/vim-surround"]
	path = editors/vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "editors/vim/bundle/numbers.vim"]
	path = editors/vim/bundle/numbers.vim
	url = https://github.com/myusuf3/numbers.vim.git
[submodule "editors/vim/bundle/pydoc.vim"]
	path = editors/vim/bundle/pydoc.vim
	url = https://github.com/vim-scripts/pydoc.vim.git
[submodule "shells/zsh/lib/oh-my-zsh"]
	path = shells/zsh/lib/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "editors/vim/bundle/powerline"]
	path = editors/vim/bundle/powerline
	url = git@github.com:fsaintjacques/powerline.git
